.is-active-dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: table-cell;
  vertical-align: middle;
}
.is-active-dot.inactive{
  background-color: red;
}
.is-active-dot.active {
  background-color: green;
}
.is-active-text {
  display: table-cell;
  vertical-align: middle;
}
.cell-active {
  display: table;
}